/* CODIGO ALTERADO INTEIRAMENTE #RENAN */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

.headerPadrao {
    background-color: #4ADCA2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 59px;
}

.iconeTamanhologo {
    position: relative;
    top: -2.5%;
    margin-right: 1px;
    vertical-align: sub;
    width: 28.5%;
    cursor: pointer;
}

.botoes {
    position: relative;
    right: 20%;
    display: flex;
    height: 55%;
    width: 10%;
    scale: 1.2;
    justify-content: space-between;
}

.barraPesquisa {
    position: relative;
    margin-top: 1%;
    width: 300%;
    padding: 5%;
    right: 340%;
}

.iconeTamanhopesquisa {
    position: absolute;
    top: 1.8%;
    right: 36%;
    cursor: pointer;
}

.iconeTamanhoSobre {
    position: relative;
    right: 55%;
    cursor: pointer;
}

.iconeTamanhoUsuario {
    position: relative;
    cursor: pointer;
    background-color: transparent; 
    border: none; 
}

.container {
    background-image: url('../img/cidade\ de\ sp\ 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 86.6vh;
    overflow-y: hidden;
}

.gridImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 11.5%;
    margin-top: 4%;
}

.gridImages img {
    border: 1px solid #4ADCA2;
    width: 300px;
}

.gridImages span {
    color: black;
    background-color: white;
    border: 1px solid #4ADCA2;
    display: block;
    max-width: 280px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    font-size: bold;  
}

.rodape {
    background-color: #4ADCA2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: relative;
    border: solid 3px ;  
    border-color: #4ADCA2; 
    top: -5px;
}

.rodapeItems {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h2 {
    font-family: segoe ui;
    margin-left: 10px;
}

.icone5 {
    margin-right: 10px;
}

.end {
    margin-right: 10px;
}

span{
    margin-top: 10px;
    font-weight: bold;  
    font-family: segoe ui;
}


.background {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
    backdrop-filter: blur(1px); 
  }