@media only screen and (min-width: 1700px){

.fundo {
    position: absolute;
    display: flex;
    top: 354.8px;
    left:-252px;
    transform: translate(50%, -50%);
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 710px;
    z-index: 999;
}

.fechar {
    position: absolute;
    top: 55px;
    right: 45px;
    transform: translate(50%, -50%);
    font-size: 34px;
    border: none;
    cursor: pointer;
    background: none;
}

.img {
    padding-top: 1.2px;
    padding-left: 90px;
    height: 300px;
    width: 300px;
}

.nome {
    position: absolute;
    top: 43%;
    left: 34%;
    transform: translate(-50%, -50%);
    transform: scale(1.4);
}

.email2 {
    position: absolute;
    top: 53%;
    left: 34%;
    transform: translate(-50%, -50%);
    transform: scale(1.4);
}

.senha2 {
    position: absolute;
    top: 63%;
    left: 34%;
    transform: translate(-50%, -42%);
    transform: scale(1.4);
}

.Confirmar-Senha {
    position: absolute;
    top: 73%;
    left: 33.8%;
    transform: translate(-50%, -42%);
    transform: scale(1.4);
}

.Cadastrar {
    position: absolute;
    top: 88%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    height: 35px;
    width: 180px;
    font-size: 26px;
    background-color: rgb(74, 220, 162);
}

.BTN-voltar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #000000; 
    position: absolute;
    top: 37.5%;
    left: 37.5%;
    transform: translate(-50%, -130%);
    height: 28px;
    width: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.botao-cadastrar-sem-borda2 {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #000000; 
    position: absolute;
    transform: translate(-50%, -130%);
    font-size: 24px;
    top: 38.2%;
    left: 61%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.STR-Nome {

    position: absolute;
    top: 41%;
    left: 32%;
    transform: translate(-50%, -130%);
    font-size: 18px;
}

.STR-Email2 {
    position: absolute;
    top: 51%;
    left: 32%;
    transform: translate(-50%, -130%);
    font-size: 18px;
}

.STR-Senha2 {
    position: absolute;
    top: 61%;
    left: 32%;
    transform: translate(-50%, -130%);
    font-size: 18px;
}

.ConfirmarSenha {
    position: absolute;
    top: 71%;
    left: 39.5%;
    transform: translate(-50%, -130%);
    font-size: 18px;
}

.linha1-2 {
    width: 68px;
    height: 1.3px;
    background-color: rgb(0, 0, 0);
    border: #000000;
    position: absolute;
    top: 35.29%;
    left: 42.4%;
    transform: translate(-50%, -130%);
}

.linha2-2 {
    width: 118px;
    height: 2.7px;
    background-color: rgb(0, 0, 0);
    border: #000000;
    position: absolute;
    top: 35.5%;
    left: 61%;
    transform: translate(-50%, -130%);
}

  
}