
/* *********************************** #RENAN */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerPadrao {
    background-color: #4ADCA2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    background-image: url('../img/cidade\ de\ sp\ 2.png');
    background-size: cover;
    height: auto;
}

.rodape {
    position: relative;
    background-color: #4ADCA2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.rodapeItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Inter', sans-serif;
}

#top img {
    position: absolute;
    left: 47%;
    margin-top: -24px;
    vertical-align: sub;
    width: 60px;
}

.iconeCasa {
    margin-right: 1px;
    vertical-align: sub;
    width: 44px;
}

.iconeTamanhoUser {
    margin-right: 1px;
    vertical-align: sub;
    width: 62px;
}

.iconeTamanhoLogo {
    position: absolute;
    margin-right: 1px;
    vertical-align: sub;
    width: 188px;
}

/* ************************************ #RENAN */

/* ************************************ #CODIGO LELE INICIO */


.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 3%;
    position: relative;
    right: 70px;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 400px;
    width: 800px;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.miniatura {
    position: relative;
    display: flex;
    justify-content: center;
    top: 115px;
    left: 1.7%;
}

.miniatura img {
    height: 65px;
    width: 95px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miniatura li {
    border: 3px solid #4ADCA2;
    margin: 8.6px;
    padding: 0;
}

.slider li {
    border: 3px solid #993399;
}

/* ************************************ #CODIGO LELE FIM */

/* ************************************ #CODIGO PINA INICIO */


h4 {
    font-size: bold;
    font-family: segoe ui;
    position: absolute;
    left: 65%;
    top: 11%;
    margin: 200px;
    margin-left: 0;
    margin-right: 0;
    width: 2400px;

}

#Detalhes img {
    position: absolute;
    vertical-align: sub;
    width: 120px;
    top: 57%;
    left: 31.5%;
}

.sobreQuadro {
    background-color: #FFFFFF;
    border: 2px solid #993399;
    text-align: left;
    height: 295px;    
    width: 388px;
    position: absolute;
    left: 32.2%;
    top: 62.5%;
}

p {
    margin: 3%;
    font-size: 21px;
    font-weight: bold;
    font-family: segoe ui;
}

#Resumo img {
    position: absolute;
    left: 54.6%;
    top: 57%;
    vertical-align: sub;
    width: 120px;
}

.sobreQuadro2 {
    background-color: #393535;
    border: 2px solid #993399;
    text-align: center;
    position: relative;
    scale: 0.8;
    margin-left: 6.6%;
    margin-top: 5.9%;
    margin-bottom: 2%; 
}

#iconeCama img {
    position: absolute;
    left: 1%;
    margin-top: -170px;
    vertical-align: sub;
    width: 84px;
}

#iconeChuveiro img {
    position: absolute;
    left: 1%;
    margin-top: -100px;
    vertical-align: sub;
    width: 84px;
}

#iconeCozinha img {
    position: absolute;
    left: 1%;
    margin-top: -30px;
    vertical-align: sub;
    width: 80px;
}

#iconeSala img {
    position: absolute;
    left: 1%;
    margin-top: 44px;
    vertical-align: sub;
    width: 80px;
}

#iconeCarro img {
    position: absolute;
    left: 1%;
    margin-top: 105px;
    vertical-align: sub;
    width: 82px;
}



.sobreQuadro2 {
    background-color: #393535;
    border: 2px solid #993399;
    text-align: center;
    padding: 185px;
    width: 60px;
    position: relative;
    left: 11%;
    bottom: 0;
    top: 10%;
}

.linha {
    background-color: #7FFFD4;
    text-align: center;
    padding: 2px;
    position: absolute;
    left: 64%;
    bottom: 90px;
    height: 27%;
}

/* ************************************ #CODIGO PINA FIM */